//Colors
$grey: #333;
$white : #fff;
$light_blue : #B5D0E2;
$dark_blue : #2099E8;
//Navigation - color
$nav-background: $grey;
$nav-text-color: $white;

//Clock - color
$clock-text-color : $white;
$clock-bg-color : $light_blue;
$clock-border-color : $dark_blue;
